body {
    font-family: 'Helvetica';

}
#header{
    background-color: black;
    padding-top: 3vh;
    padding-bottom: 5vh;
}
#header-info{
    text-align: center;
    color: white;
    font-weight: lighter;
}
#banner{
    height:62vh;
    background: url("../images/banner.JPG") no-repeat center center;
    background-size: cover;
}
#scroll-icon{
    font-size: 5em;
    text-align: center;
    cursor: pointer;
}
#info {
    background-color: black;
    padding-top: 8vh;
    padding-bottom: 8vh; 
    margin-top: 10px;
}
.info-text{
    color: white;
    font-size: 1.2em;
}
.info-text-2{
    font-size: 1.2em;
}
#project01{
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgb(150,200,255);
}
#grid-of-nine{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center; 
}
#grid-item-1{
    background-color: rgba(222,222,222,.2);
    padding-top: 10px;
}
.grid-images{
    width: 90%;
    padding-left: 5%;
}
#funProjects{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
}
#abstract-statement{
    background-color: rgb(150,255,180);
    padding-top: 5%;
    padding-bottom: 5%;
}
#prototypes {
    padding-top: 5%;
    padding-bottom: 5%;
}